node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# Compiled artifacts from solcjs
*.abi
*.bin

# IDEs
.idea
.vscode
*.swp
*.swo

# macOS
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
